.progress {
  border: 0;
  height: 3px;
  padding: 0;
  margin: 0;
}

.form-control {
  font-size: 16px;
  color: #000000;
}

.list-group {
  font-size: 15px;
}

.btn.file-action {
  font-size: 14px;
  float: right;
}

.progress-bar {
  transition: none;
  -webkit-transition: none;
}
