<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Media Downloader</title>
  </head>
  <body>
    <div class="container">

      <div class="header" style="margin-bottom: 30px">
        <h1> Media Downloader </h1>
      </div>

      <ul class="nav nav-pills nav-justified" id="navigation"> </ul>

      <div id="app"> </div>

      <div id="footer" style="height: 100px"></div>
    </div>

    <script type="text/template" id="download-media-list-template">
      <h4><%- name %></h4>
      <ul class="list-group file-list"></ul>
      <div class="btn-group" role="group">
        <a role="button" class="btn download-all btn-primary"> Download All </a>
      </div>
    </script>
    <script type="text/template" id="download-media-item-template">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-10">
            <span><%- path %></span>
            <div class="progress">
              <div class="progress-bar progress-bar-standard" role="progressbar" aria-valuenow="<%- dlPercent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%- dlPercent %>%">
              </div>
            </div>
          </div>
          <div class="btn-group col-md-2" role="group">
            <a role="button" class="btn btn-primary download file-action"><span class="glyphicon glyphicon-download-alt"</span></a>
          </div>
        </div>
      </li>
    </script>
    <script type="text/template" id="sort-file-movie-form-template">
      <p style="color: #6f6f6f"><%- path.replace(/\//g, ' / ') %></p>
      <div class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Name:</span>
            <input type="text" value="<%- name %>" class="form-control name">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Year:</span>
            <input type="text" class="form-control year" value="<%- year %>" style="width: 5em">
          </div>
        </div>
        <input type="hidden" class="category" value="movie">
        <button class="btn btn-primary save">Save</button>
      </div>
    </script>
    <script type="text/template" id="sort-file-tv-form-template">
      <p style="color: #6f6f6f"><%- path.replace(/\//g, ' / ') %></p>
      <div class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Name:</span>
            <input type="text" value="<%- name %>" class="form-control name">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Season:</span>
            <input type="text" class="form-control season" value="<%- season %>" style="width: 3em">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Episode:</span>
            <input type="text" class="form-control episode" value="<%- episode %>" style="width: 3em">
          </div>
        </div>
        <input type="hidden" class="category" value="tv">
        <button class="btn btn-primary save">Save</button>
      </div>
    </script>
    <link rel="stylesheet" href="css/yeti.bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="js/bower.js" type="text/javascript"></script>
    <script src="js/app/models.js" type="text/javascript"></script>
    <script src="js/app/collections.js" type="text/javascript"></script>
    <script src="js/app/views.js" type="text/javascript"></script>
    <script src="js/app/router.js" type="text/javascript"></script>
    <script src="js/util.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
  </body>
</html>
